<ion-card *ngIf="orderData">
  <ion-card-header style="padding: 0;">
    <!-- <ion-card-title>Order Summary</ion-card-title> -->
    <div style="display: flex;
    place-content: space-between;">
      <ion-item slot="start" lines="none">#{{totalOrders - index}}</ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="deleteOrder(orderData)" color="danger" fill="clear">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card-header>

  <ion-card-content (click)="orderClicked('clicked',orderData)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label><strong>Customer Name:</strong></ion-label>
          <ion-label><strong>{{ orderData.order_Data.customer_Name }}</strong></ion-label>
        </ion-col>



        <ion-col>
          <ion-label><strong>Total Price:</strong></ion-label>
          <ion-label><strong>{{ orderData.total_Price_AfterDiscount | currency:'INR' }}</strong></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>