<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      New Order
    </ion-title>
    <ion-card>
      <ion-card-content style="text-align: center">
        <ion-button id="open-modal" (click)="openModal()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ng-container *ngIf="orderList.length > 0">
  <app-order-details-card
  *ngFor="let order of orderList"
  [customerName]="order.order_Data.customer_Name"
  [totalPriceBeforeDiscount]="order.total_Price_AfterDiscount"
  [totalPriceAfterDiscount]="order.total_Price_BeforeDiscount"
  [discount]="order.order_Data.discount">
</app-order-details-card>
</ng-container>
</ion-content>
