<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      New Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content style="text-align: center">
      <ion-button id="open-modal" (click)="openModal()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="orderList.length > 0">
  <app-order-details-card
  *ngFor="let order of orderList"
  [customerName]="order.orderData.customerName"
  [totalPriceBeforeDiscount]="order.totalPriceAfterDiscount"
  [totalPriceAfterDiscount]="order.totalPriceBeforeDiscount"
  [discount]="order.orderData.discount">
</app-order-details-card>
</ng-container>
</ion-content>
