<!-- <ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 13%;">

    <ion-title style="text-align: center;">
      New Order
    </ion-title>
    <ion-card>
      <ion-card-content style="text-align: center">
        <ion-button id="open-modal" (click)="openModal()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header> -->

<ion-content  [fullscreen]="true">
  <!-- <ion-title style="text-align: center;margin-top: 13%;">
    New Order
  </ion-title> -->
  <ng-container *ngIf="orderList.length > 0">
    <div style="    margin-top: 13%;
">
    <app-order-details-card *ngFor="let order of orderList"  [orderData]="order" [customerName]="order.order_Data.customer_Name"
      [totalPriceBeforeDiscount]="order.total_Price_BeforeDiscount"
      [totalPriceAfterDiscount]="order.total_Price_AfterDiscount" [discount]="order.order_Data.discount"
      (dataEvent)="editOrder($event)" (deleteEvent)="confirmDelete($event)">
    </app-order-details-card>
  </div>
  </ng-container>
</ion-content>
<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModal(null)" color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>