.input-txt {
    margin-left: 5%;
}

.login-container {
    height: 100vh;
    /* Full height to center vertically */
}

ion-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 27%;
}

.app-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    /* Space between heading and form */
}

.error{
    color: red;
}