<!-- <ion-header>
  <ion-toolbar style="margin-top: 13%;">
    <ion-title>Earnings History</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="top: 7%;">
  <!-- <ion-title style="text-align: center;margin-top: 13%;">Earnings History</ion-title> -->

  <ion-list>
    <ion-item *ngFor="let earning of earningsArray">
      <ion-label>
        <h2>{{ earning.day }}</h2>
        <!-- <p>Earnings: ₹{{ earning.earning }}</p> -->
        <p>Cash Earning: ₹{{earning.cashEarning}}</p>
        <p>E-Payment: ₹{{earning.onlineEarning}}</p>
        <p>Total: ₹{{earning.onlineEarning + earning.cashEarning}}</p>
        <ion-button (click)="downloadExcel(earning.day)">Download Excel</ion-button>
<ion-button (click)="downloadPDF(earning.day)">Download PDF</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
